@keyframes typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    width: 28%;
  }
  100% {
    width: 57%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes leafWave {
  0% {
  }
  40% {
    transform: rotateZ(30deg);
  }
  45% {
    transform: rotateZ(21deg);
  }
  50% {
    transform: rotateZ(15deg);
  }
  55% {
    transform: rotateZ(21deg);
  }
  60% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
