@keyframes typing {
  0% {
    width: 0%;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
    width: 28%;
  }
  100% {
    width: 57%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
