html {
  overflow: auto;
}
body {
  background-color: var(--myblack);
  color: aliceblue;
  font-family: "Noto Serif KR", serif;
}
#fullpage {
  width: 500px;
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

.homepage span {
  display: block;
  text-align: center;
}
.homepage span:first-child {
  font-size: 18px;
  padding-top: 130px;
  font-weight: 200;
  white-space: nowrap;
  color: transparent;
}
.homepage span:first-child::before {
  content: "365일 생각하는 나무 기도하는 잎사귀";
  position: absolute;
  color: aliceblue;
  height: 100%;
  overflow: hidden;

  animation: typing 2s steps(20);
}
.homepage span:nth-child(2) {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0px 30px 0px;
  white-space: nowrap;
  color: transparent;
}
.homepage span:nth-child(2):before {
  content: "영혼의 정원";
  position: absolute;
  color: aliceblue;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 2.3s;
}
.homepage-image__main-img {
  display: block;
  border: none;
  border-bottom: 3px solid var(--myblack);
  border-right: 3px solid var(--myblack);
  border-radius: 3px;
  width: 200px;
  height: 200px;
  margin: 0px auto;

  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 3.6s;
}
.hidden {
  opacity: 0;
}

.homepage-image__leaf {
  position: relative;
  top: 160px;
  display: block;
  width: 50px;
  height: 40px;
  margin: 0px auto;

  animation: fadeIn 1.5s ease-in-out forwards;
  animation-delay: 4.2s;
}
.homepage-image__leaf:hover {
  opacity: 1;
  animation: leafWave 3s ease-out infinite;
  cursor: pointer;
}
.homepage-image__leaf:active {
  animation: fadeOut 1s ease-in-out forwards;
}
.section {
  background-color: var(--mygreen);
  padding: 0;
}

.section1 {
  padding: 50px;
  text-align: center;
}
.section1 h1 {
  font-weight: 600;
  font-size: 35px;
  margin-bottom: 30px;
}
.section1 p {
  font-size: 20px;
}
